html {
	height:100%;
	//width:100%
}
body {
	height:100%;
	//width:90%;
	position: absolute;
    left: 5%;
	font-family: Microsoft JhengHei;
}
.head-data{
	width:104em;
	height:5em;
}
#SelectStyle{
	float:right;
	height:5em;
}
#ClearAllDataButton{
	width:8.5em;
	height:2.5em;
	float:left;
	font-size:1.5em;
	background-color:#FFFFFF;
	margin:0.5em;
}
.SelectEQBlock{
	background-color:#888888;
	width:104em;
}
.SelectEQ{
	width:25em;
	height:3em;
	margin:0.5em;
	background-color:#989898;
	float:left;
	text-align:center;
}
//#SelectRodBrand				{background-color:#989898;}
#SelectReelBrand 			{background-color:#989898;}
#SelectMotherLineBrand 		{background-color:#989898;}
#SelectChildLineBrand 		{background-color:#989898;}
#SelectRodStyle				{background-color:#989898;}
#SelectReelStyle 			{background-color:#989898;}
#SelectMotherLineStyle 		{background-color:#989898;}
#SelectChildLineStyle 		{background-color:#989898;}
#SelectRodProperty			{background-color:#989898;}
#SelectReelProperty 		{background-color:#989898;}
#SelectMotherLineProperty 	{background-color:#989898;}
#SelectChildLineProperty 	{background-color:#989898;}
.DecideBlock {
	height:22em;
	width:104em;
	background-color:#888888;
}
.DecideEQ {
	width:20.83333em;
	height:2.5em;
	margin:0.41666em;	
	float:left;
	font-weight: bold;
	font-size: 120%;
	line-height: 2.5em;
	background-color:#989898;
	text-align:center;
}
.DecideProperty {
	width:25em;
	height:13em;
	margin:0.5em;
	float:left;
	background-color:#989898;
}
.suggestion {
	width:25em;
	margin:0.5em;	
	float:left;
}
.facebook {
	float:left;
}
.update {
	float:right;
	width:30em;
}
#AllRights {
	background: #FFFFFF;
	float:right;
	color: #c0c0c0;
	overflow: hidden;
}
.clear{clear:both;}